<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Swag Plugin configuration</title>
        <title lang="de-DE">Swag Plugin Konfiguration</title>
        <component name="sw-text-field">
            <name>instance</name>
            <label>Instance</label>
            <label lang="de-DE">Instanz</label>
            <copyable>true</copyable>
        </component>
    </card>
</config>
